<div align="center"><strong><font size="4"> COMUNICADO DE LA CORRECCIÓN</font><br />
<br />
<br />
<br />
</strong></div>
Dª Ana María González Solís, en su calidad de Directora del IES Gonzalo Nazareno, le comunica que, tras el preceptivo trámite de audiencia y una vez comprobada la autoria de los hechos:<br />
<br />
<strong>{{sancion.Comentario}}</strong><br />
<div align="justify"><br />
dado que los mismos se consideran constitutivos de conductas gravemente perjudiciales contra la convivencia, al alumno <strong>{{sancion.IdAlumno.Nombre}} </strong>le ha sido impuesta la corrección de <strong>{{sancion.Sancion}}</strong>, durante el cual deberá realizar las tareas de formación que el tutor le asigne, y que tendrá que recoger el día lectivo siguiente a las 12:15 horas en la conserjerí­a del instituto.<br />
<br />
<br />
Contra la presente resolución podrá presentar reclamación ante la Directora. En caso de ser estimada la reclamación, la corrección no figurará en el expediente académico del alumno.<br />
</div>
<br />
<br />
En Dos Hermanas, a <strong>{%now "d"%}</strong> de <strong>{%now "F"%}</strong> de <strong>{%now "Y"%}</strong>  <br />
<br />
<br />
<table>
    
        <tr>
            
            <td>La Directora<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo: Ana María González Solís<br />
           <td>
            El padre/madre o tutor legal<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo:__________________________________</td>
        </tr>
    
</table>
<pdf:nextpage>

<div align="center"><font size="4"><strong>VISTA Y AUDIENCIA</strong></font><br />
</div>
<br />
<br />
En Dos Hermanas, siendo las {%now "H:i"%} del día <strong>{%now "d"%}</strong> de <strong>{%now "F"%}</strong> de <strong>{%now "Y"%}</strong> , comparecen ante la Directora del IES Gonzalo Nazareno, el/la alumno/a: {{sancion.IdAlumno.Nombre}}, matriculado en el curso {{sancion.IdAlumno.Unidad.Curso}}, su representante legal, en el caso de ser menor de edad, D/Dña:{{sancion.IdAlumno.Nomtutor}} {{sancion.IdAlumno.Ap1tutor}} {{sancion.IdAlumno.Ap2tutor}} y la Jefa de Estudios Dª. Mª Lourdes Martínez Navas para llevar a efecto el trámite de Audiencia.<br />
<br />
<br />
A tal fin les informa que en el procedimiento de corrección abierto se de le imputan los siguientes hechos:<br />
<br />
<strong>{{sancion.Comentario}}</strong><br />
<br />
<br />
Asimismo se le comunica que en relación con los hechos imputados puede(n) efectuar las alegaciones que en su defensa interesen.<br />
<br />
<br />
<br />
En prueba de conformidad con la celebración del acto, firma la presente:<br />
<br />
<br />
<table align="" width="653" cellspacing="1" cellpadding="1" border="0" height="83" summary="">
    <tbody>
        <tr>
            <td> Padre, madre o tutor legal   <br />
            Recibido:<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo:__________________________________</td>
            <td> El Tutor/a<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo:__________________________________</td>
            
        </tr>
    </tbody>
</table>
<br />
<br />
La Directora<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
Fdo: 