<div class="cabecera">
{{amonestacion.Nomtutor}} {{amonestacion.Ap1tutor}} {{amonestacion.Ap2tutor}}<br />
{{amonestacion.Direccion}}<br />
{{amonestacion.CodPostal}} {{amonestacion.Localidad}}<br />
({{amonestacion.Provincia}})      <br />
</div>
<br />
<br />
<br />
<br />
Estimado Sr. / Sra.:<br />
<br />
<div align="justify"> La actitud y el comportamiento que su hijo/a <strong>{{amonestacion.Nombre}}</strong>, matriculado/a en este centro en el curso {{amonestacion.Unidad.Curso}}, está teniendo, incumpliendo las normas de convivencia, con una acumulación total de {{num_amon}} partes de disciplina, dificultan la labor de formación y educación que deseamos impartir a todos los alumnos, incluido su hijo/a, para que puedan incorporarse en las mejores condiciones a la vida adulta.<br />
 <br />
 Comportamientos y actitudes como los que está manifestando su hijo/a están recogidos en el Reglamento de Organización y Funcionamiento de este Instituto como "perjudiciales para el normal desarrollo de la actividad docente y de aprendizaje" y los sanciona, la primera vez, con un apercibimiento por escrito. <br />
 <br />
 De no modificar su conducta, se le podrá sancionar con la expulsión del Centro de 1 a 3 días. Por reiteración en este comportamiento se le podrá sancionar con una expulsión de 5 días a un mes.<br />
 <br />
 Por otra parte ,para cualquier aclaración o duda,puede solicitar una entrevista con la Jefa de Estudios los MIERCOLES de 11:45 a 12:45  o en su defecto los JUEVES de 11:45 a 12:45  <br />
</div>
<br />
 Atentamente,<br />
<br />
<br />
<br />
JEFATURA DE ESTUDIOS<br />
<hr width="100%" size="1" />
