{% extends "base_menu.html" %}

{% block content %}
<h3>Búsqueda</h3>
 <form action="/centro/profesores" method="post" class="form-hotizontal">
        {% csrf_token %}
        <div class="form-group">
              <div class="col-xs-4">
                {{ form.as_p }}
            </div>
        </div>
		<br/>
		
		<br/>
		<br/>
		<br/>
        <div class="col-xs-4">
	</div>
    </form>
    <hr/>
    <!--<a href="/usuarios/add"><button type="submit" class="btn btn-primary">Nuevo usuario</button></a>
	/a href="/usuarios/tipo"><button type="submit" class="btn btn-primary">Asignar Tipo</button></a>-->
<br/>
<h2>Gestión de profesores {{departamento}}</h2>

<table class="table table-bordered">
    <tr><td class="text-center">N.</td><td>Nombre</td><td>Teléfonos</td><td>Email</td><td class="text-center">Baja</td><td class="text-center">CE</td><td class="text-center">ETCP</td><td class="text-center">Bil</td></tr>
    
    {%for prof,curso in profesores %}
    
    <tr>
      <td class="text-center">{{forloop.counter}}</td>
      
        
        
      <td><strong>{{prof.Apellidos}},{{prof.Nombre}}</strong> ({{prof.Departamento.Nombre}})<br/>{{curso }}</td>
      <td>{{prof.Telefono}}<br/>{{prof.Movil}}</td>
      <td>{{prof.Email}}</td>
      {% if prof.Baja %}
        <td class="text-center"><a href="/centro/profesores/change/Baja/{{prof.id}}/off"><span class="glyphicon glyphicon-remove-sign" style="color:red" aria-hidden="true"></span></a></td>
      {% else %}
        <td class="text-center"><a href="/centro/profesores/change/Baja/{{prof.id}}/on"><span class="glyphicon glyphicon-ok-sign" style="color:green" aria-hidden="true"></span></a></td>
      {% endif %}


      {% if prof.Ce %}
        <td class="text-center"><a href="/centro/profesores/change/Ce/{{prof.id}}/off"><span class="glyphicon glyphicon-user" style="color:green" aria-hidden="true"></span></a></td>
      {% else %}
        <td class="text-center"><a href="/centro/profesores/change/Ce/{{prof.id}}/on"><span class="glyphicon glyphicon-user" style="color:red" aria-hidden="true"></span></a></td>
      {% endif %}
      {% if prof.Etcp %}
        <td class="text-center"><a href="/centro/profesores/change/Etcp/{{prof.id}}/off"><span class="glyphicon glyphicon-user" style="color:green" aria-hidden="true"></span></a></td>
      {% else %}
        <td class="text-center"><a href="/centro/profesores/change/Etcp/{{prof.id}}/on"><span class="glyphicon glyphicon-user" style="color:red" aria-hidden="true"></span></a></td>
      {% endif %}
      {% if prof.Bil %}
        <td class="text-center"><a href="/centro/profesores/change/Bil/{{prof.id}}/off"><span class="glyphicon glyphicon-user" style="color:green" aria-hidden="true"></span></a></td>
      {% else %}
        <td class="text-center"><a href="/centro/profesores/change/Bil/{{prof.id}}/on"><span class="glyphicon glyphicon-user" style="color:red" aria-hidden="true"></span></a></td>
      {% endif %}
         {% endfor %}
      

      
    </tr>
    
    </table>



{% endblock %}
