{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}
<h3>Filtrar por fechas</h3>
 <form action="/convivencia/grupos" method="POST" class="form-hotizontal">
        {% csrf_token %}
        <div class="form-group">
              <div class="col-xs-8">
                {{ form.as_p }}
            
           <input type="submit" value="Filtrar" />
           </div>
        </div>

	
    </form>
<br/>
	    <br/>
	    <br/>
	    <br/>
<hr/>
<h3>Resumen de amonestaciones/sanciones por grupos</h3>
<table class="table table-bordered">
  <tr>
    <td><strong>Grupo</strong></td>
    <td class="text-center" > <strong>Amonestaciones</strong></td>
    <td class="text-center" > <strong>Sanciones</strong></td>
  </tr>
    {% for g in cursos %}
<tr>
    <td>{{g.0}}</td>
    <td class="text-center">{{g.1.0}} ({{g.1.2}}%)  </td>
    <td class="text-center">{{g.1.1}} ({{g.1.3}}%)  </td>
    
</tr>
{% endfor %}
<tr>
  <td>Total</td>
  <td class="text-center">{{total.0}}</td>
  <td class="text-center">{{total.1}}</td>
</tr>
</table>

{% endblock %}
