{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}


	<h2>{{titulo}}</h2>
<center>
<table>
                    <tr>
                      <th colspan="7" >
                        <a href="/convivencia/resumen/{{tipo}}/{{fechas.1|date:"m"}}/{{fechas.1|date:"Y"}}" class="btn"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        
                        <a href="/convivencia/resumen/{{tipo}}/{{fechas.2|date:"m"}}/{{fechas.2|date:"Y"}}" class="btn"><i class="glyphicon glyphicon-chevron-right"></i></a>
                      </th>
                    </tr>
                    <tr>
  </table>




{% autoescape off %}
<div class="Tabla" >
    {{calhtml}}
</div>

{{txt}}
{% endautoescape %}
{% endblock %}